{% extends '@DevtureTranslation/layout.html.twig' %}

{% block devture_translation_content %}
	{% include '@DevtureTranslation/element/navigation_bar.html.twig' with {'selected': 'overview'} only %}

	{% for sourceResource in sourceResources %}
		<div class="card mb-3">
			<div class="card-header">{{ sourceResource.name }}</div>

			<div class="list-group list-group-flush">
				<a
					href="{{ path('devture_translation.edit', {'resourceId': sourceResource.id, 'language': sourceResource.localeKey}) }}"
					class="list-group-item d-block">
					<i class="devture-translation-flag {{ sourceResource.localeKey }}"></i>

					{{ devture_translation_get_locale_name(sourceResource.localeKey) }}

					({{ sourceResource.translationPack|length }}/{{ sourceResource.translationPack|length }})

					<span class="float-end text-end" style="width: 15%">
						<div class="d-block badge bg-success text-start">
							<i class="fa-regular fa-circle-check"></i>
							{{ 'devture_translation.badge.source_language'|trans }}
						</div>
					</span>

					<span style="display: block; clear: both;"></span>
				</a>

			{% for localizedResource in sourceResource.localizedResources %}
				{% set translationStats = localizedResource.determineTranslationStatsAgainst(sourceResource) %}
				<a
					href="{{ path('devture_translation.edit', {'resourceId': sourceResource.id, 'language': localizedResource.localeKey}) }}"
					class="list-group-item d-block">
					<i class="devture-translation-flag {{ localizedResource.localeKey }}"></i>

					{{ devture_translation_get_locale_name(localizedResource.localeKey) }}

					({{ translationStats.translatedCount }}/{{ translationStats.totalCount }})

					{% set progress_color_class = (translationStats.translatedPercentage == 100 ? 'success' : 'warning') %}

					<span class="float-end text-end" style="width: 15%">
						{% if translationStats.translatedPercentage == 100 %}
							<div class="d-block badge bg-success text-start">
								<i class="fa-regular fa-circle-check"></i>
								100%
							</div>
						{% else %}
							<div class="progress">
								<div
									class="progress-bar bg-{{ progress_color_class }} text-start px-1" style="width: {{ translationStats.translatedPercentage }}%;">
									{% if translationStats.translatedPercentage >= 50 %}
										{{ translationStats.translatedPercentage }}%
									{% endif %}
								</div>
								<div
									class="progress-bar bg-danger text-start px-1" style="width: {{ 100 - translationStats.translatedPercentage }}%;">
									{% if translationStats.translatedPercentage < 50 %}
										{{ translationStats.translatedPercentage }}%
									{% endif %}
								</div>
							</div>
						{% endif %}
					</span>

					<span style="display: block; clear: both;"></span>
				</a>
			{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
